#filters {
    padding: 3em;
    border-radius: .8em;
    background-color: white;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, .1), 0 4px 6px -2px rgba(0, 0, 0, .05) !important;
  }

#app {
    padding: 3em;
    border-radius: .8em;
    background-color: white;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, .1), 0 4px 6px -2px rgba(0, 0, 0, .05) !important;
    margin-top: 1em;
    
}

.activeCheckBox+label:before {
  border-color: #fff;
  border-width: 3px;

}

.activeCheckBox+label {
  color: #5D5D5D;
}

#DatasetSelection{
  margin-top: 1em;
  font-size: large;
}

.selected {
    color:#54a0ff;
    cursor: pointer;
}

.not-selected {
    color: black;
    cursor: pointer;
}

#text-input{
    width: 80%;
    height: 2em;
    border: none;
    border-bottom: 1px solid black;
    text-align: center;
    border-radius: 0em;
    // background-color: #c3d1e0;
}

#text-input:focus{
    border-bottom: 3px solid #54a0ff;
    transition: .2s;
  }

  :host ::ng-deep .completer-holder{
    text-align: center !important;
    justify-content: center !important;
    // color: red !important;
    // padding-left: 10em;
  
  }
  :host ::ng-deep .completer-dropdown-holder{
    text-align: center !important;
    justify-content: center !important;
    padding-left: 1em;
    width: 80%;
  
  }
  :host ::ng-deep .completer-dropdown{    //"searching"
    text-align: center !important;
    justify-content: center !important;
    width: 80% !important;
  
  }
  :host ::ng-deep .completer-row{       //results
    text-align: center !important;
    justify-content: center !important;
    width: 80% !important;
  
  }
  :host ::ng-deep .completer-selected-row{    //selected
    text-align: center !important;
    justify-content: center !important;
    width: 80% !important;
  
  }


  .datatag{
    font-size: larger;
    font-weight: bold;
    color:#54a0ff;
  }

  #Area_Res{
    margin-top: 3em;
  }


  input{
    display: none;
  }


  label {
    // font-size: 24px;
    color: #a0aec0;
    display: inline-block;
    padding: 0 0 0 1em;
    cursor: pointer;
  }

  label:before {
    content: '';
    display: inline-block;
    background: #55D8C6;
    position: absolute;
    left: 0;
    top: 1px;
    height: 20px;
    width: 20px;
    margin-right: 10px;
    border-radius: 80%;
    box-shadow: 0px 1px 0 0 rgba(0, 0, 0, .2);
    box-sizing: border-box;
    border: 10px solid #fff;
    transition: border .3s ease;
  }

  .date-selected {
    font-size: larger;
    color: #54a0ff;
    cursor: pointer;
  }

  .date {
    font-size: larger;
  }

  .date:hover {
    color: cadetblue;
    cursor: pointer;
  }

  #DatePicker{
    margin-top: 1em;
  }


  .background_wrapper {
    background-image: url('../../assets/images/abstract-art-blur-bright-373543.jpg');
    height: 100vh;
    // background-repeat: repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
  }


  #DatePickerForm{
    margin-top: 8em;
  }

  .search-btn{
    align-self: center;
    padding-top:.3em;  
    padding-bottom:.3em;  
    padding-left:1em;  
    padding-right:1em;
    color:white;
    border-radius:2em;
    background-color: #55D8C6;
    cursor: pointer;
  }

  .card-body{
    border: none;
    padding: 0em;
    padding-left: 1em;
  }

  #logout {
    cursor: pointer;
    color: rgb(233, 119, 119);
    border: none;
    background-color: white;
    font-size: medium;
  }

  #logout:hover {
    color: red;
    font-size: large;
  }

  #logout:hover{
    color: rgb(241, 32, 32);
  }

  #admin {
    padding-right: 2em;
    color: blue;
    border: none;
    background-color: white;
    font-size: large;
  }

  #admin:hover{
    color: rgb(54, 116, 209);
  }

  .btn-outline-primary{
    font-size: larger;
  }

  .Logo {
    color: #006f8c;
    font-size: x-large;
    font-weight: bold;
  }

  .user-tag {
    color: #0066b6;
  }

  .col-2 {
    padding: 1em;
  }