<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Db Project</title>
  </head>
  <body>
    {% extends "Template.html" %}
    {% block content %}

    <h1> Ntua ece 2019 Databases project </h1>

    <a href="https://www.youtube.com/watch?v=AOAtz8xWM0w">George Aidinis</a>
    <a href="https://www.youtube.com/watch?v=y5zQTmkY7GI">Phoebes Kalogiannis</a>
    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Theodor Tsilivis </a>

    {% endblock %}
  </body>
</html>
