<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Db Project</title>
  </head>

  <style>

  table {
      font-size: smaller;

  }
  </style>

  <body>
    {% extends "Template.html" %}
    {% block content %}

    <form form method="POST" action="">
      <table>
        <tr>
          <td align="left">Name:</td>
          <td align="left"><input type="text" name="Name" required/></td>
        </tr>
        </table>
        <input type="submit">
    </form>

    <p> </p>
    <div style="overflow-x:auto;">
    <table align="center">
        <tr>
        <th class="col1">Name</th>
        <th class="col2">Address</th>
        <th class="col3">Date of Establishment</th>
        </tr>
      {% for user in userDetails %}
        <tr>
            <td> {{user[0]}} </td>
            <td> {{user[1]}} </td>
            <td> {{user[2]}} </td>
        </tr>
        {% endfor %}
      </table>
      </div>

    {% endblock %}
  </body>
</html>
