<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Db Project</title>
  </head>

  <style>
  table {
      font-size: smaller;
  }
      tr:nth-child(even) {
          background-color: #f2f2f2
      }
      tr:nth-child(odd) {
          background-color: #aaaaaa
      }
  </style>

  <body>
    {% extends "Template.html" %}
    {% block content %}

    <h1>Examples</h1>

    <p> Your insert</p>

    <div style="overflow-x:auto;">
    <table align="center">
        <tr>
        <th class="col1">Members_MemberID</th>
        <th class="col2">Copy_Number</th>
        <th class="col3">Copy_Books_ISBN</th>
        <th class="col4">Start_Date</th>
        <th class="col5">Due_Date</th>
        </tr>
      {% for user in userDetails %}
        <tr>
            <td> {{user[0]}} </td>
            <td> {{user[1]}} </td>
            <td> {{user[2]}} </td>
            <td> {{user[3]}} </td>
            <td> {{user[4]}} </td>

        </tr>
        {% endfor %}
      </table>
      </div>

    <p> <i></i></p>

    {% endblock %}
  </body>
</html>
