<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Db Project</title>
  </head>


  <body>
    {% extends "Template.html" %}
    {% block content %}

    <p>Lets Find all the members that have borrowed more books than ?</p>

    <form form method="POST" action="">
  <table>
    <tr>
      <td align="left">Number of books borrowed:</td>
      <td align="left"><input type="text" name="Number" required/></td>
    </tr>
  </table>
    <input type="submit">
  </form>

    {% endblock %}
  </body>
</html>
