<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Db Project</title>
  </head>

  <style>
  table {
      font-size: smaller;
  }
      tr:nth-child(even) {
          background-color: #f2f2f2
      }
      tr:nth-child(odd) {
          background-color: #aaaaaa
      }
  </style>

  <body>
    {% extends "Template.html" %}
    {% block content %}

    <h1>Examples</h1>

    <p> This query returns the 5 most popular Authors</p>

    <div style="overflow-x:auto;">
    <table align="center">
        <tr>
        <th class="col1">Name</th>
        <th class="col2">Surname</th>
        <th class="col3">#Borrowed Books</th>
        </tr>
      {% for user in userDetails %}
        <tr>
            <td> {{user[0]}} </td>
            <td> {{user[1]}} </td>
            <td> {{user[2]}} </td>
        </tr>
        {% endfor %}
      </table>
      </div>

    <p> <i>Select New.Name , New.Surname,count(Old.ISBN) AS Counter from (Select* from Authors join Authored on AuthorID=Authors_AuthorID) New ,(select ISBN from Books join Borrows on Copy_Books_ISBN = ISBN) Old WHERE Old.ISBN = New.Books_ISBN GROUP BY New.Name,New.Surname ORDER BY Counter DESC LIMIT 5;</i></p>

    {% endblock %}
  </body>
</html>
