<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Db Project</title>
  </head>
  <body>
    {% extends "Template.html" %}
    {% block content %}

    <h1>Examples</h1>

    <p> <i> Lets find something interesting</i></p>

    <select name="forma" onchange="location = this.value;">
     <option value="SELECT ACTION">Select Query Example</option>

     <option value="Query1">Books by published year</option>
     <option value="Query2">Every book of a category</option>
     <option value="Query3">#Copies Borrowed</option>
     <option value="Query4">#Existing Copies</option>
     <option value="Query5">Young Authors</option>
     <option value="Query6">Books grouped by publisher</option>
     <option value="Query7">Who borrowed that many books</option>
     <option value="Query8">5 most popular Authors</option>
     <option value="Query9">Book Search</option>
     <option value="Query10">Author Search</option>
     <option value="Query11">Publisher search</option>
     <option value="Query12">Publisher search</option>
    </select>

    {% endblock %}
  </body>
</html>
