<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Db Project</title>
  </head>

  <style>
    p {
        color: black;
    }
  </style>

  <body>
    {% extends "Template.html" %}
    {% block content %}

    <h1>Homepage</h1>

    <p style="color:black;"> This is the 2019 Databases Project for the Ntua Ece School</p>
    <p style="color:black;"> This site represents a basic implementation of a Library database management system </p>
    <p style="color:black;"> In the the View option you can see a some restricted information for every user </p>
    <p style="color:black;"> In the Edit option you can insert update or delete data from the Books,Members and Publishers tables and see all the stoblack data for these three tables</p>
    <p style="color:black;"> In the Examples option you can try some basic SQL commands </p>
    <p style="color:black;"> In the About option you can see the developers informatio </p>

    {% endblock %}
  </body>
</html>
