<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Db Project</title>
  </head>

  <style>
  table {
      font-size: smaller;
  }
      tr:nth-child(even) {
          background-color: #f2f2f2
      }
      tr:nth-child(odd) {
          background-color: #aaaaaa
      }
  </style>


  <body>
    {% extends "Template.html" %}
    {% block content %}

    <h1> Books </h1>

    <p> <i> Do you want to see something else? </i></p>

    <select name="forma" onchange="location = this.value;">
     <option value="SELECT TABLE">Select table</option>

     <option value="RestrictedBooks">Books</option>
     <option value="RestrictedPublishers">Publishers</option>
     <option value="RestrictedAuthors">Authors</option>
     <option value="RestrictedMembers">Members</option>
     <option value="RestrictedCopies">Copies</option>
    </select>

    <p> </p>
    <div style="overflow-x:auto;">
    <table align="center">
        <tr>
        <th class="col1">ISBN</th>
        <th class="col2">Title</th>
        <th class="col3">Pages</th>
        <th class="col4">Publication_Year</th>
        <th class="col5">Publishers_Name</th>
        <th class="col6">LibraryName</th>
        <th class="col7">AuthorName</th>
        <th class="col7">AuthorSurname</th>
        </tr>
      {% for user in userDetails %}
        <tr>
            <td> {{user[0]}} </td>
            <td> {{user[1]}} </td>
            <td> {{user[2]}} </td>
            <td> {{user[3]}} </td>
            <td> {{user[4]}} </td>
            <td> {{user[5]}} </td>
            <td> {{user[6]}} </td>
            <td> {{user[7]}} </td>
            <td> {{user[8]}} </td>
        </tr>
        {% endfor %}
      </table>
      </div>

    {% endblock %}
  </body>
</html>
