<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Db Project</title>
  </head>
  <style>

  table {
      font-size: smaller;

  }
  </style>

  <body>
    {% extends "Template.html" %}
    {% block content %}

     <p> Provide the book's ISBN whose information you would like to change</p>
     <p> Feel in only the information you would like to change</p>

    <form form method="POST" action="">
    <table>
    <tr>
      <td align="left">Old ISBN:</td>
      <td align="left"><input type="text" name="Old_ISBN" required/></td>
    </tr>
    <tr>
      <td align="left">New ISBN:</td>
      <td align="left"><input type="text" name="New_ISBN" value=''/></td>
    </tr>
    <tr>
      <td align="left">Title:</td>
      <td align="left"><input type="text" name="Title" value=''/></td>
    </tr>
    <tr>
      <td align="left">Pages:</td>
      <td align="left"><input type="number" name="Pages" value='0'/></td>
    </tr>
    <tr>
      <td align="left">Publication Year:</td>
      <td align="left"><input type="number" name="Publication_Year" value='0'/></td>
    </tr>
    <tr>
      <td align="left">Publishers Name:</td>
      <td align="left"><input type="text" name="Publishers_Name" value=''/></td>
    </tr>
    <tr>
      <td align="left">Author:</td>
      <td align="left"><input type="text" name="Author" value=''/></td>
    </tr>
    </table>
    <input type="submit">
    </form>

    <p> </p>
    <div style="overflow-x:auto;">
    <table align="center">
        <tr>
        <th class="col1">ISBN</th>
        <th class="col2">Title</th>
        <th class="col3">Pages</th>
        <th class="col4">Publication_Year</th>
        <th class="col5">Publishers_Name</th>
        <th class="col6">LibraryName</th>
        <th class="col7">AuthorName</th>
        <th class="col7">AuthorSurname</th>
        </tr>
      {% for user in userDetails %}
        <tr>
            <td> {{user[0]}} </td>
            <td> {{user[1]}} </td>
            <td> {{user[2]}} </td>
            <td> {{user[3]}} </td>
            <td> {{user[4]}} </td>
            <td> {{user[5]}} </td>
            <td> {{user[6]}} </td>
            <td> {{user[7]}} </td>
            <td> {{user[8]}} </td>
        </tr>
        {% endfor %}
      </table>
      </div>

    {% endblock %}
  </body>
</html>
