<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Db Project</title>
  </head>
  <style>

  table {
      font-size: smaller;
      
  }
  </style>
  <body>
    {% extends "Template.html" %}
    {% block content %}

    <form form method="POST" action="">
      <table>
          <tr>
            <td align="left">MemberID:</td>
            <td align="left"><input type="number" name="MemberID" required/></td>
          </tr>
          <tr>
            <td align="left">Name:</td>
            <td align="left"><input type="text" name="Name" value=''/></td>
          </tr>
          <tr>
            <td align="left">Surname:</td>
            <td align="left"><input type="text" name="Surname" value=''/></td>
          </tr>
        <tr>
          <td align="left">Address:</td>
          <td align="left"><input type="text" name="Address" value=''/></td>
        </tr>
        <tr>
          <td align="left">Number of Books Borrowed</td>
          <td align="left"><input type="number" name="Number_of_Borrowed_Books" value='-1'/></td>
        </tr>
        <tr>
          <td align="left">Can Borrow</td>
          <td align="left"><input type="number" name="Can_Borrow" value='-1'/></td>
        </tr>
        <tr>
          <td align="left">Birtdate:</td>
          <td align="left"><input type="date" name="Birthdate" value=''/></td>
        </tr>
    </table>
    <input type="submit">
  </form>

  <p> </p>
  <div style="overflow-x:auto;">
  <table align="center">
      <tr>
      <th class="col1">MemberID</th>
      <th class="col2">Birthdate</th>
      <th class="col3">Address</th>
      <th class="col4">Name</th>
      <th class="col5">Surname</th>
      <th class="col6">num_books_borrowed</th>
      <th class="col7">Can_Borrow</th>
      <th class="col7">LibraryName</th>
      </tr>
    {% for user in userDetails %}
      <tr>
          <td> {{user[0]}} </td>
          <td> {{user[1]}} </td>
          <td> {{user[2]}} </td>
          <td> {{user[3]}} </td>
          <td> {{user[4]}} </td>
          <td> {{user[5]}} </td>
          <td> {{user[6]}} </td>
          <td> {{user[7]}} </td>
          <td> {{user[8]}} </td>
      </tr>
      {% endfor %}
    </table>
    </div>

    {% endblock %}
  </body>
</html>
